
/* ---------------------------------------------------------------------
 Header
 ----------------------------------------------------------------------- */

.header {
    width: 100%;
    padding: 10px 0;
    position: static;
    top: 0;
    background: white;
    background: rgba(255,255,255,0.9);
    color: @blue;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.6);
    z-index: 1;
}
