
// ------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------

.mixin-gradient {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left,  #000000 0%, @blue 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,@blue)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #000000 0%, @blue 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #000000 0%, @blue 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #000000 0%, @blue 100%); /* IE10+ */
    background: linear-gradient(to right,  #000000 0%, @blue 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='@blue',GradientType=1 ); /* IE6-9 */
}
