
// ------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------

// Colors
@gray: #646464;
@ltgray: #dedede;
@orange: #f57e27;
@blue: #095288;

// Fonts
@opensans: 'Open Sans', sans-serif;
@normal: 400;
@bold: 600;

// Radius
@radius: 4px;
