/* -----------------------------------------------------------

    Project: CHAMBERLAIN.MyQresponsive
    Author: Nate Arnold (narnold@nerdery.com)

 ---------------------------------------------------------- */


// -----------------------------------------------------------
// Reset & Font Styles
// -----------------------------------------------------------

@import "base/_reset";
@import "base/_font-awesome";


// -----------------------------------------------------------
// Global Styles
// -----------------------------------------------------------

@import "base/_global";


// -----------------------------------------------------------
// Variables & Mixins
// -----------------------------------------------------------

@import "helpers/_variables";
@import "helpers/_mixins";


// -----------------------------------------------------------
// Landmarks
// -----------------------------------------------------------

@import "landmarks/header/_header_screen";
@import "landmarks/ankle/_ankle_screen";
@import "landmarks/footer/_footer_screen";


// -----------------------------------------------------------
// Modules
// -----------------------------------------------------------

@import "modules/container/_container_screen";
@import "modules/contentInfo/_contentInfo_screen";
@import "modules/buttons/_buttons_screen";
@import "modules/forms/_forms_screen";
@import "modules/grid/_grid_screen";
@import "modules/hero/_hero_screen";
@import "modules/headings/_headings_screen";
@import "modules/hList/_hList_screen";
@import "modules/icons/_icons_screen";
@import "modules/inputs/_inputs_screen";
@import "modules/links/_links_screen";
@import "modules/logo/_logo_screen";
@import "modules/navigation/_navigation_screen";
@import "modules/step/_step_screen";


/* -----------------------------------------------------------
 Media Queries
 ---------------------------------------------------------- */

@media (min-width: 767px) {
    @import "screen_small";
}

@media (min-width: 979px) {
    @import "screen_medium";
}

@media (min-width: 1170px) {
    @import "screen_large";
}
