
/* ---------------------------------------------------------------------
 Hero Large Screens
 ----------------------------------------------------------------------- */

.hero {
    height: 680px;
}

.hero-phone {
    width: 48%;
    height: 80%;
    left: 0;
    bottom: 0;
}
