
/* ---------------------------------------------------------------------
 Hero Medium Screens
 ----------------------------------------------------------------------- */

.hero {
    height: 620px;
}

.hero-phone {
    width: 48%;
    height: 74%;
}
