
/* ---------------------------------------------------------------------
 Hero Small Screens
 ----------------------------------------------------------------------- */

.hero {
    height: 540px;
    margin-bottom: 40px;
    background: url('../img/hero.jpg') no-repeat center center;
    background-size: cover;
}

.hero-phone {
    display: block;
    width: 40%;
    height: 68%;
}
