
/* ---------------------------------------------------------------------
 Hero
 ----------------------------------------------------------------------- */

@import "_hero_helpers";

.hero {
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 40px;
    position: relative;
    background: url('../img/hero_small.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 2px solid @orange;
}

.hero:after {
    content: '';
    width: 0;
    height: 0;
    margin-left: -(@triangle);
    position: absolute;
    bottom: -(@triangle + 2);
    left: 50%;
    border-left: @triangle solid transparent;
    border-right: @triangle solid transparent;
    border-top: @triangle solid @orange;
}

.hero-phone {
    overflow: hidden;
    display: none;
    width: 48%;
    height: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
}
