
/* ---------------------------------------------------------------------
 hList
 ----------------------------------------------------------------------- */

// Clear Floats
.hList:before,
.hList:after {
    content: " ";
    display: table;
}

.hList:after { clear: both; }

.hList > * {
    float: none;
    width: 100%;
    text-align: center;
}

.hList > * + * {
    margin-left: 0;
    margin-top: 5px;
}

.hList_spaced > * + * { margin-left: 0; }
