
/* ---------------------------------------------------------------------
 Content Info
 ----------------------------------------------------------------------- */

.contentInfo {
    margin: 0;
    text-align: center;
}
