
/* ---------------------------------------------------------------------
 Content Info
 ----------------------------------------------------------------------- */

.contentInfo {
    display: block;
    margin: 0 auto 10px;
    font-size: 12px;
    text-align: center;
}
