
/* ---------------------------------------------------------------------
 Buttons
 ----------------------------------------------------------------------- */

.button {
    display: block;
    margin: 0;
    padding: 8px 28px;
    background: @orange;
    border-radius: @radius;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.button:hover {
    color: white;
    opacity: 0.8;
}

.button:active { opacity: 1; }

.button_alt {
    background: transparent;
    color: @blue;
    letter-spacing: 1px;
    text-transform: none;
}

.button_alt:hover {
    color: @blue;
    background: #dddddd;
}

.button_short {
    padding: 8px 18px;
}
