
/* ---------------------------------------------------------------------
 Footer Upper
 ----------------------------------------------------------------------- */

.ankle {
    .mixin-gradient();

    padding: 20px 0;
    margin-top: 80px;
    text-align: center;
}
