
/* ---------------------------------------------------------------------
 Inputs Small
 ----------------------------------------------------------------------- */

.input {
    padding: 8px;
    width: 140px;
    font-family: @opensans;
    font-size: 14px;
    background: @ltgray;
    border: 0;
    border-radius: @radius;
    -webkit-appearance: none;
}

.input:focus {
    opacity: 0.7;
    outline: 0;
}
