
/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */

.footer {
    padding: 30px 0;
    background: @blue;
    color: white;
}
