
/* ---------------------------------------------------------------------
 Global Styles
 ----------------------------------------------------------------------- */

body {
    font-family: @opensans;
    font-size: 14px;
    font-weight: @normal;
    line-height: 1.6;
    color: @gray;
}

a {
    color: @blue;
    text-decoration: none;
}

a:hover {
    color: @orange;
}

img {
    max-width: 100%;
    height: auto;
}
