
/* ---------------------------------------------------------------------
 12 Column Grid
 ----------------------------------------------------------------------- */

// Clear Floats
.grid:before,
.grid:after {
    content: " ";
    display: table;
}

.grid:after { clear: both; }

.grid-col { float: none; }
.grid-col + .grid-col { margin-left: 0; }

.grid-col_1of12 { width: 100%; }
.grid-col_2of12 { width: 100%; }
.grid-col_3of12 { width: 100%; }
.grid-col_4of12 { width: 100%; }
.grid-col_5of12 { width: 100%; }
.grid-col_6of12 { width: 100%; }
.grid-col_7of12 { width: 100%; }
.grid-col_8of12 { width: 100%; }
.grid-col_9of12 { width: 100%; }
.grid-col_10of12 { width: 100%; }
.grid-col_11of12 { width: 100%; }
.grid-col_12of12 { width: 100%; }
