
/* ---------------------------------------------------------------------
 Logo
 ----------------------------------------------------------------------- */

.logo {
    float: left;
    margin: 10px 0 0;
    height: auto;
}

.logo_alt {
    margin: 0;
}
