
/* ---------------------------------------------------------------------
 Logo
 ----------------------------------------------------------------------- */

.logo {
    display: block;
    float: none;
    width: 200px;
    height: auto;
    margin: 20px auto;
}

.logo_alt {
    margin: 10px auto;
}
