
/* ---------------------------------------------------------------------
 Container Small
 ----------------------------------------------------------------------- */

.container-bd {
    width: 60%;
    padding-top: 260px;
    position: absolute;
    right: 0;
}
