
/* ---------------------------------------------------------------------
 Container Medium
 ----------------------------------------------------------------------- */

.container-bd {
    width: 52%;
    padding-top: 300px;
}
