
/* ---------------------------------------------------------------------
 Container
 ----------------------------------------------------------------------- */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

// Clear Floats
.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after { clear: both; }

.container-bd {
    width: 100%;
    padding-top: 60px;
}
