
/* ---------------------------------------------------------------------
 Icons
 ----------------------------------------------------------------------- */

.fa-question-circle,
.fa-play-circle {
    position: absolute;
    left: 0;
    font-size: 21.5px;
    color: @orange;
}
