
/* ---------------------------------------------------------------------
 Headings
 ----------------------------------------------------------------------- */

.hdg {
    font-family: @opensans;
    font-size: 24px;
    font-weight: @normal;
    text-align: left;
    color: white;
}

.hdg_2 {
    padding: 50px 0 80px;
    text-align: center;
    color: @gray;
}

.mix-hdg_orange {
    display: block;
    color: @orange;
}
