
/* ---------------------------------------------------------------------
 Forms
 ----------------------------------------------------------------------- */

.form-input {
    padding: 8px;
    font-family: @opensans;
    font-size: 14px;
    background: @ltgray;
    border: 0;
    border-radius: @radius;
    -webkit-appearance: none;
}

.form-input:focus {
    opacity: 0.7;
    outline: 0;
}
