
/* ---------------------------------------------------------------------
 Steps Small
 ----------------------------------------------------------------------- */

.step {
    margin-bottom: 0;
}

.step-img {
    display: inline-block;
    max-width: 70%;
}
