
/* ---------------------------------------------------------------------
 Steps
 ----------------------------------------------------------------------- */

.step {
    text-align: center;
    width: 84%;
    margin-left: 8%;
}

.step {
    margin-bottom: 20px;
}

.step-num {
    display: block;
    padding-bottom: 30px;
    font-size: 32.5px;
}

.step-bd {
    display: block;
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
}

.step-img {
    display: inline-block;
    max-width: 60%;
}

